*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1em;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputForTask{
    display: flex;
    justify-content: center;
    width: 90vw;
    padding-bottom: 2em;
    border-bottom: 2px solid orangered;
}
#inputField{
    width: 60vw;
    font-size: 2em;
}
#addBtn{
    padding: .5em 2em;
}
.labelStrikeThrough{
    text-decoration-line: line-through;
}
.tasks-section{
    width: 80%;
    padding: 1em 0;
}
.tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2em;
}
label{
    width: 100%;
    padding: 0 10px;
}
.editBtn{
    margin-right: 1em;
}